/*html {
  --bg-color: #15202b;
  --color: #fffff0;
}
@media (prefers-color-scheme: dark){
  body {
    background-color:var(--bg-color);
    color: #ffffff;
  }
}

.theme-slider {
  clip-path: rect(0 0 0 0);
  border: 0;
  height: 10px;
  margin: -1px;
  width: 10px
} */

.container {
  display: grid;
  gap: 2em;
}
.main-nav li {
  position: relative;
}
.one li, .three li, .two li{
  display: none;
}
.header {
  background-image: url('/images/bg-pattern-intro.svg');
}
@media (max-width: 800px) {
  .mobile-header-section {
    background-color:  hsl(13, 100%, 72%);
  }
  .navbox {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
  }
  .main-nav {
    align-items: center;
  }
}