/*html {
  --bg-color: #15202b;
  --color: #fffff0;
}
@media (prefers-color-scheme: dark){
  body {
    background-color:var(--bg-color);
    color: #ffffff;
  }
}

.theme-slider {
  clip-path: rect(0 0 0 0);
  border: 0;
  height: 10px;
  margin: -1px;
  width: 10px
} */
@media (max-width: 800) {
  
}